:root{
    --vermelho: #fc0707e3;
    --preta: #050505;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial','Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family:'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    margin: right 10px;
}

header nav a:hover{
    color: #fff;
    
}
/*Filme principal*/
.evento-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('../img/img000.jpg');
    
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.evento-principal .descricao{
    margin-top: 10px;
    margin-bottom: 10px;

}
.evento-nba{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('../img/nba0.jpeg');
    
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.evento-nba.descricao{
    margin-top: 10px;
    margin-bottom: 10px;

}

.evento-futebol{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('../img/uefa0.jpeg');
    
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.evento-futebol .descricao{
    margin-top: 10px;
    margin-bottom: 10px;

}

.titulo{
    margin-top: 15%;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    color: white;
    padding: 15px 30px;
    font-size: 12PX;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
    
}
.evento-principal .container{
 width: 46%;
}

.box-evento{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-eventos{
    margin-top: 5px;
}